@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(30, 30, 30, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-o-header.is-open .q-o-header-background {
  left: 0;
}
.q-o-header-button-wrapper {
  margin-left: auto;
}
.q-o-header-icon {
  display: none;
}

.q-o-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-o-navigation-list.is-open {
  right: 0;
}
.q-o-header-icon-menu {
  display: block;
}

.q-o-header-icon-button.is-open .q-o-header-icon-menu {
  display: none;
}

.q-o-header-icon-button.is-open .q-o-header-icon-close {
  display: block;
}

.q-o-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.q-o-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(171, 87, 43, 1);
}
.q-o-header.is-open .q-o-header-background {
  left: 0;
}
.q-o-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-width: 3px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;

  background: rgba(171, 87, 43, 1);

  border: 1px solid rgba(255, 255, 255, 1);
}

.q-o-header-icon-menu {
  display: block;
}

.q-o-header-icon-button.is-open .q-o-header-icon-menu {
  display: none;
}

.q-o-header-icon-button.is-open .q-o-header-icon-close {
  display: block;
}

.q-o-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-o-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  gap: 20px;
  background: rgba(171, 87, 43, 1);
}

.q-o-navigation-list.is-open {
  right: 0;
}

.q-o-navigation-link {
  font-family: Barlow;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-o-navigation-link:hover,
.q-o-navigatioт-link:focus {
  color: rgba(30, 30, 30, 1);
}

.q-o-header.is-open {
  background-color: transparent;
}

.q-o-navigation-img {
  display: none;
}

@media screen and (min-width: 1204px) {
  .q-o-navigation-img {
    display: flex;
  }
  .q-o-policy-terms-header-icon-menu {
    display: none;
  }
  .q-o-header-button-wrapper {
    background: transparent;
    border: none;
  }
  .q-o-header {
    width: 100%;
    height: 88px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(253, 232, 175, 1);
  }

  .q-o-header-background {
  }
  .q-o-header-icon-button {
    display: none;
  }
  .q-o-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-o-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 12px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-o-navigation-link {
    padding: 0px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    text-decoration: none;
    color: rgba(78, 35, 13, 1);
  }

  .q-o-navigation-item-desk {
    display: none;
  }
}
.q-o-home {
  width: 375px;
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 25.png");
  margin: auto;
}
.q-o-home-container {
  width: 375px;
  padding: 81px 16px 0px;
  margin: auto;
}

.q-o-home-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20.52px;
  color: rgba(78, 35, 13, 1);
}
.q-o-home-title span {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24.62px;
  letter-spacing: -1%;

  text-transform: uppercase;
}
.q-o-home-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -2%;
  text-align: center;
  padding: 28px 0 396px;
  color: rgba(171, 87, 43, 1);
}
.q-o-home-texts {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(171, 87, 43, 1);
  padding-bottom: 28px;
}

.q-o-home-google-button-image {
  width: 272px;
  height: 87px;
  margin: auto;
}

.q-o-home-google-button-link:hover .q-o-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1204px) {
  .q-o-home {
    width: 1440px;
    height: 828px;
    background-image: url("/img/home/main.png");
  }
  .q-o-home-container {
    width: 1440px;
    padding: 224px 80px 0px;
  }
  .q-o-home-container-top {
    width: 670px;
  }

  .q-o-home-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
  }
  .q-o-home-title span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
  }
  .q-o-home-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    padding: 33px 0 48px;
    text-align: left;
  }
  .q-o-home-texts {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    padding-bottom: 22px;
  }

  .q-o-home-google-button-image {
    width: 272px;
    height: 87px;
    margin: 0;
  }
}

.q-o-about-container {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 29px;
}
.q-o-about-div {
  padding: 38px 18px 108px;
  background: rgba(255, 208, 128, 1);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.q-o-about-title {
  font-family: Barlow;
  font-weight: 900;
  font-size: 42px;
  letter-spacing: 0.66px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.q-o-about-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.66px;
  padding: 22px 0 20px;
}
.q-o-about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.66px;
}
.q-o-about-list {
  list-style-type: disc;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.66px;
  margin: 20px 0 20px 20px;
}
.q-o-about-listt {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0.66px;
}
.q-o-about-texts {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0.66px;
}
.q-o-about-texts span {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.66px;
}
.q-o-abouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1204px) {
  .q-o-about {
    width: 1440px;
    margin: auto;
    background-image: url("/img");
    padding: 63px 49px 0;
  }

  .q-o-about-container {
    margin: auto;
    width: 1342px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 112px;
    padding: 55px 31px;
    background: rgba(255, 208, 128, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .q-o-about-div {
    padding: 0;

    box-shadow: none;
  }
  .q-o-about-title {
    font-family: Barlow;
    font-weight: 900;
    font-size: 72px;
  }
}
.q-o-why-container {
  width: 375px;
  margin: auto;
  padding: 120px 15px 86px;
}
.q-o-about-title-q {
  color: rgba(78, 35, 13, 1);
}
.q-o-why-title-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  color: rgba(204, 0, 0, 1);
  vertical-align: middle;
  width: 155px;
  padding-top: 13px;
}
.q-o-why-list {
  padding-top: 41px;
}
.q-o-why-item {
  width: 286px;
  height: 170px;
  margin: 0 5px;
}
.q-o-why-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  color: rgba(255, 144, 117, 1);
  text-align: center;

  text-transform: uppercase;
}
.q-o-why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

@media screen and (min-width: 1204px) {
  .q-o-why-container {
    width: 1440px;
    padding: 63px 80px 0;
  }
  .q-o-why-title-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    width: 366px;
    padding-top: 26px;
  }
  .q-o-why-list {
    padding-top: 56px;
  }
  .q-o-why-item {
    width: 286px;
    height: 170px;
    margin: 0 30px;
  }
}

.q-o-gallery-container {
  width: 375px;
  margin: auto;
  padding: 124px 0 52px;
}

.q-o-gallery-item {
  width: 308px;
  height: 558px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-o-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-o-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-top: 60px;
}

.q-o-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.q-o-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1204px) {
  .q-o-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 46px 80px 31px;
  }
  .q-o-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 44px;
    margin-top: 69px;
  }
}

.q-o-uniqueness-container {
  margin: auto;
  width: 375px;
  background: rgba(255, 208, 128, 1);

  padding: 34px 18px 84px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.q-o-uniqueness-list {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.q-o-uniqueness-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.66px;
}
.q-o-uniqueness-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.66px;
}
.q-o-reviews-lists {
  display: none;
}
.q-o-reviews-container {
  margin: auto;
  padding: 30px 16px;
  width: 375px;
}
.q-o-reviews-list {
  padding-top: 30px;
}

.q-o-reviews-item {
  margin: 5px;
  width: 375px;
  height: 238px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.q-o-reviews-text-bold {
  width: 375px;
  height: 81px;
  background: rgba(78, 35, 13, 1);
  display: flex;
  align-items: center;
  padding-left: 21px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

.q-o-reviews-text {
  background: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  padding: 21px 11px 0 21px;
}
.q-o-gallery-button-container-q {
  display: none;
}
@media screen and (min-width: 1204px) {
  .q-o-uniqueness {
    width: 1440px;
    padding: 62px 49px;
    display: flex;
    gap: 42px;
    margin: auto;
  }
  .q-o-gallery-button-container-qq {
    display: none;
  }
  .q-o-gallery-button-container-q {
    display: flex;
  }
  .q-o-uniqueness-container {
    margin: 0;
    width: 850px;
    padding: 43px;
  }

  .q-o-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .q-o-reviews-container {
    margin: 0;
    padding: 43px 0px 0;
    width: 452px;
  }
  .q-o-reviews-list {
    display: none;
  }
  .q-o-reviews-lists {
    display: block;
    width: 452px;
  }
  .q-o-reviews-item {
    margin: 33px 5px 5px 5px;
    width: 452px;
    height: 238px;
  }

  .q-o-reviews-text-bold {
    width: 452px;
    height: 81px;
    padding-left: 35px;
    background: rgba(78, 35, 13, 1);
  }

  .q-o-reviews-text {
    background: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    padding: 35px 35px 0 35px;
  }
}

.q-o-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  color: rgba(78, 35, 13, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
}

.q-o-policy-terms-title {
  font-family: Barlow;
  font-weight: 900;
  font-size: 48px;

  text-align: center;
}

.q-o-policy-terms-text {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
}

.q-o-policy-terms-texts {
  padding-top: 8px;
}

.q-o-policy-terms-text-one {
  padding-top: 20px;
}

.q-o-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-o-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-o-email-link {
  color: inherit;
  text-decoration: none;
}

.q-o-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1204px) {
  .q-o-policy-terms-container {
    padding: 166px 80px 60px;
    width: 1440px;
  }

  .q-o-policy-terms-title {
    font-family: Barlow;
    font-weight: 900;
    font-size: 48px;
    text-align: left;
  }

  .q-o-policy-terms-text {
    padding-top: 40px;
  }

  .q-o-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-o-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-o-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  color: rgba(255, 255, 255, 1);
}

.q-o-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.q-o-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Barlow;
  font-weight: 700;
  font-size: 24px;
}

.q-o-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1204px) {
  .q-o-footer-container {
    width: 1440px;
    padding: 40px 80px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 31px;
  }

  .q-o-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 108px;
  }

  .q-o-footer-text {
    font-family: Barlow;
    font-weight: 700;
    font-size: 24px;
  }

  .q-o-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
  }
}

.q-o-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.q-o-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: rgba(24, 27, 29, 1);
}

.q-o-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.q-o-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 144, 117, 1);
  background: rgba(255, 255, 255, 1);
  width: 167.5px;
  border-radius: 4px;
  padding: 16px 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 144, 117, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(78, 35, 13, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.q-o-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1204px) {
  .q-o-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-o-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 840px;
  }

  .q-o-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-o-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 40px;
    display: none;
  }
}
